<div id="art" style="margin: 0 auto; display: table; padding-top: 20px; width: 25em;">
    <div style="display: inline;">
        {{#if user}}
        <form name="like_art" action="/art/{{art_info.art_id}}/like" method="POST" style="display: inline;">
                <input type="hidden" name="art_id" value="{{art_info.art_id}}">
                {{#if liked}}
                    <input type="submit" value="Unlike ({{art_info.num_likes}})" class="btn btn-primary">
                {{else}}
                    <input type="submit" value="Like ({{art_info.num_likes}})" class="btn btn-primary">
                {{/if}}
        </form>
        {{else}}
        Liked by <b>{{art_info.num_likes}}</b> artists
        {{/if}}
        {{#if owner}}
        <form name="del_art" action="/art/{{art_info.art_id}}/delete" method="POST" style="display: inline;">
            <input type="hidden" name="art_id" value="{{art_info.art_id}}">
            <input type="submit" value="Delete" class="btn btn-danger">
        </form>
        {{/if}}
    </div>

    <div class="card">
        <img class="card-img-top" src="/public/art/{{art_info.img_name}}" style="max-width: 25em;">
        <div class="card-body">
            <h5 class="card-title">{{art_info.title}}</h5>
            <p class="card-text">{{art_info.description}}</p>
            <p class="card-text">- <i>{{art_info.owner_username}}</i></p>
        </div>
        <ul class="list-group list-group-flush" style="overflow:scroll; max-height: 200px;">
            {{#if comments}}
            <li class="list-group-item">
                <b>Comments</b>
            </li>
            {{/if}} {{#each comments}}
            <li class="list-group-item">
                <i>{{comment_text}}</i> -
                <a href="/artists/{{artist_username}}">{{artist_username}}</a> ({{date_posted}})
            </li>
            {{/each}}
        </ul>
        {{#if user}}
        <form action="/art/{{art_info.art_id}}/comment" method="post">
            <input type="hidden" name="art_id" value="{{art_info.art_id}}">
            <input type="text" name="comment_text" placeholder="Enter comment" required maxlength="250" style="width: calc(100% - 70px); box-sizing: border-box;">
            <input type="submit" value="Submit" style="float: right;">
        </form>
        {{/if}}
    </div>
        {{#unless user}}
        Please login to like or comment.
        {{/unless}}
</div>