<br>
{{#unless owner}}
    {{#if user}}
    <center>
        <form name="follow_artist" action="/artists/{{username}}/follow" method="POST" style="display: inline;">
            <input type="hidden" name="username" value="{{username}}">
                {{#if follows}}
                    <input type="submit" value="Unfollow {{username}}" class="btn btn-primary">
                {{else}}
                    <input type="submit" value="Follow {{username}}" class="btn btn-primary">
                {{/if}}
        </form>
        </center>
    {{/if}}
    <br><br>
{{/unless}}

<div class="gallery row">
    {{#each art}}
    <a class="col-xs-6 col-sm-4" href="/art/{{art_id}}">
        <img src="/public/art/{{img_location}}" alt="{{title}}" height="200" width="200">
    </a>
    {{/each}}
</div>

