<h4>The most liked tag on average has this many likes:</h4>
{{#each avgLikesPopularTag}}
{{max}}
<br>
{{/each}}

<h4>The least liked tag on average has this many likes:</h4>
{{#each avgLikesUnlikedTag}}
{{min}}
<br>
{{/each}}


<h4>Average number of likes per art per tag:</h4>

{{#each avgLikesPerTaggedArt}}
{{tag_name}} : {{avg_num_likes}}
<br>
{{/each}}


<h4>Number of different tags</h4>

{{#each tagCount}}
{{count}}
<br>
{{/each}}

<h4>Number of different art</h4>

{{#each artCount}}
{{count}}
<br>
{{/each}}

<h4>Number of different artists</h4>

{{#each artistCount}}
{{count}}
<br>
{{/each}}

<h4>Number of art for each tag</h4>

{{#each artTagCount}}
{{tag_name}} : {{count}}
<br>
{{/each}}