<br>
<h5>The most liked tag on average has this many likes:</h5>

{{#each avgLikesPopularTag}}
{{max}}
<br>
{{/each}}
</div>
<br>
<h5>The least liked tag on average has this many likes:</h5>
{{#each avgLikesUnlikedTag}}
{{min}}
<br>
{{/each}}
<br>
<h5>Average number of likes per art per tag:</h5>

<ul>
    {{#each avgLikesPerTaggedArt}}
    <li>
        {{tag_name}} : {{avg_num_likes}}
        <br>
    </li>
    {{/each}}
</ul>
<br>
<h5>Number of different tags</h5>

{{#each tagCount}}
{{count}}
<br>
{{/each}}
<br>
<h5>Number of different art</h5>

{{#each artCount}}
{{count}}
<br>
{{/each}}
<br>
<h5>Number of different artists</h5>

{{#each artistCount}}
{{count}}
<br>
{{/each}}
<br>
<h5>Number of art for each tag</h5>
<ul>
    {{#each artTagCount}}
    <li>
        {{tag_name}} : {{count}}
        <br>
    </li>
    {{/each}}
</ul>


<h5>Art Like by All Artists:</h5>
{{#each allLiked}}
    <h5>
        Title:
        <a href="/art/{{art_id}}">{{title}}</a>
    </h5>
{{/each}}
